/* Global and Mobile styles used for the carousel */
 .left, .right{
     display: table-cell;
     width:20px;
     vertical-align: middle;
}
 .middle{
     display: table-cell;
     overflow: hidden;
     border: thin solid;
}
 .scrollBtn{
     text-decoration:none;
     font-size: 30px;
 }
 .collection-image{
     width:70%;
}
 .collection-article{
     margin:10px;
}
 .container{
     display: table;
     margin: auto;
}
 .floatleft{
     float:left;
}
 .carousel{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     width: 190px;
     transition: all .5s;
}
/*Media query for ipads to display two products*/
 @media screen and (min-width:768px) {
     .carousel{
         width:380px;
    }
}
/*Media query for desktop to display three products*/
 @media screen and (min-width:1024px) {
     .carousel{
         width:570px;
    }
}