.left, .right{
  display: table-cell;
  width:20px;
  vertical-align: middle;
}
.middle{
 display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  border: thin solid;
}
.scrollBtn{
  background-color: #d1bea9;
  text-decoration:none;
  font-size: 30px;
  color: #FFF;
  border: thin solid #FFF;
}
.scrollBtn:hover{
  background-color: #777;
  transition: all 0.4s;
}
.collection-image{
	width:70%;
}
.collection-article{
	margin:10px;
}
.container{
  width:95%;
  height:150px;
  display: table;
  margin: auto;
}
.floatleft{
	float:left;
}
.carousel{
 width:500%;
}
