/* GLOBAL AND MOBILE STYLES FIRST */
body {
	margin: 0;
	padding: 0;
	background: #d1bea9;
	color: #fff;
	text-align: center;
	font-family: sans-serif;
}

.div-page-content {
	width: 100%;
	background: #b49b7f;
	overflow: hidden;
	margin:auto;
}
a {
	color: #fff;
	text-decoration: none;
}
nav{
	position: static;
}

nav a {
	display: block;
	border: solid thin;
	padding: 5px;
	background:#d1bea9;
	
	
}
nav a:hover {
	background: #777;
	transition: all 0.4s;
	
}
.link-menu{
	transform: translateX(-100%);
	position:absolute;
	
}
.show-menu{
	transform: translateX(0%);
	transition: all 0.4s;
}
.hide-menu{
	transform: translateX(-100%);
	transition: all 0.4s;
}
.separator{
	width:90%;
	border: thin solid #FFF;
	margin:auto;
	margin-top: 5px;
}

h1 {
	font-size: 1.5em;
	margin: 0;
	padding: 15px;
}
main {
	margin: 0;
	padding: .5em;
}

.hamburger {
	width: 25px;
	cursor: pointer;
	transition: all 0.4s;
	position: relative;
	left: 10px;
	border: solid thin;
}
.hamburger:hover {
	background-color: #777;
}
.hamburger-line {
	background-color: #ffffff;
	padding: 2px;
	margin: 3px;
}


.contactform {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width:250px;
	margin:10px;
}
input, textarea{
	margin: 2px;
	padding: 5px;
	
}
.contactform input, textarea{
	border: thin solid #ffffff;
	display:block;
	width:100%;
}



.contact-address{
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin:10px;
	
}

/* FIRST BREAKPOINT (Desktop SIZE) */
@media screen and (min-width:500px) {

.link-menu{
	transform: none;
	overflow: inherit;
	position: relative;
}
nav a {
	display: inline-block;
	padding: 5px;
}
.hamburger {
	display: none;
}
h1 {
	font-size: 2em;
}

.div-page-content {
	width: 65%;
}
section {
	margin: 2%;
	display: inline-block;
	background: #DBA901;
	color: #999;
}
section:hover {
	background: #666;
}
}
/* END FIRST BREAKPOINT */
